  <h1> Adicionar Livros</h1>
    <form action="/users/save" method="post">
        <div>
            <input type="text" name="nome" placeholder="Digite o nome do livro">
            <input type="text" name="tipo" placeholder="Digite o tipo de livro">
             <input type="text" name="volume" placeholder="Digite qual o volume do livro">
            <input type="submit" value="Cadastrar" />
        </div>
    </form>

    <a href="/">Pagina inicial</a>